body {
  font-family: Roboto, sans-serif, system-ui;
  background-color: var(--page-background);
  color: var(--main-text-color);
}

:root {
  --page-background: #f7f7f7;
  --opposite-background: #303030;

  --main-text-color: #000;
  --opposite-text-color: #fff;
  --gray-text-color: rgb(146, 146, 146);
  --link-color: rgb(30, 185, 212);

  --toggle-switch-shadow: rgb(105, 105, 105);

  --table-background: #ffffff;
  --table-even-background: #eeeeee;
  --table-hover: #ddd;

  --card-background: #ffffff;
  --white: #ffffff;
  --dark: #1d1d1d;

  /* common dark/light mode styles */
  --accent: #ff914d;
  --washed-accent: #f7b790;
  --accented-text: #793911;

  --green: rgb(139, 240, 139);
  --darker-green: rgb(15, 161, 15);
  --red: rgb(250, 139, 139);
  --darker-red: rgb(209, 14, 14);

  --disabled-element: gray;
}

:root.dark {
  --page-background: #303030;
  --opposite-background: #ffffff;

  --main-text-color: #fff;
  --opposite-text-color: #000;
  --gray-text-color: rgb(179, 179, 179);
  --link-color: rgb(3, 157, 168);

  --toggle-switch-shadow: rgb(245, 245, 245);

  --card-background: #303030;
  --table-even-background: #3d3d3d;
  --table-hover: #666666;


  --white: #e4e4e4;
  --dark: #000;

}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
