body {
  font-family: Roboto, sans-serif, system-ui;
  background-color: var(--background);
  color: var(--main-text-color);
}

:root {
  --background: #ffffff;
  --opposite-background: #303030;

  --main-text-color: #000;
  --opposite-text-color: #fff;
  --link-color: rgb(30, 185, 212);

  --toggle-switch-shadow: rgb(105, 105, 105);

  /* common dark/light mode styles */
  --accent: #ff914d;
  --washed-accent: #f7b790;
  --accented-text: #793911;

  --disabled-element: gray;
  --white: #fff;
  --dark: #000;
}

:root.dark {
  --background: #303030;
  --opposite-background: #ffffff;

  --main-text-color: #fff;
  --opposite-text-color: #000;
  --link-color: rgb(10, 140, 201);

  --toggle-switch-shadow: rgb(245, 245, 245);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
