.row {
  border-bottom: 1px solid #ddd;

}

.imageCell {
  width: 100px;
  height: 100px;
}

.image {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.titleCell {
  padding: 10px;
  width: 100%;

  margin-right: auto;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priceCell,
.quantityCell,
.totalCell {
  text-align: center;
  padding: 10px;
}

.actionsCell {
  text-align: center;
}
.actionsCell div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.button {
  padding: 8px;
  color: var(--dark);
  font-weight: 500;
  border: 0;
  border-radius: 3px;

  width: 3rem;
  height: 3rem;

  cursor: pointer;
  transition: background 0.25s, color 0.25s;
}

.removeButton {
  background-color: var(--red);
  margin-right: 1rem;
}
.removeButton:hover {
  background-color: var(--darker-red);
  color: var(--white);
}

.addButton {
  background-color: var(--green);
}
.addButton:hover {
  background-color: var(--darker-green);
  color: var(--white);
}

.starContainer {
  display: flex;
  align-items: center;
}
.star {
  font-size: 1.3rem;
}
.checked {
  color: orange;
}

