.container {
  width: 70%;
  align-self: center;

  margin: auto;
}

/* Table styles */
.cartTable {
  width: 100%;

  box-shadow: 0 0 1px 1px #c2c2c2;
  border-radius: 8px 8px 0 0 ;

  background-color: var(--card-background);

  border-spacing: 0;

  margin-top: 20px;
}

.cartTable th,
.cartTable td {
  min-width: 110px;
  padding: 8px;
  text-align: left;

}

.cartTable th {
  border-bottom: 2px solid;

  padding-right: 0;
  position: relative;

  color: var(--gray-text-color);
  font-size: 0.95rem;

  user-select: none;
}

.cartTable tbody tr:nth-child(even) {
background-color: var(--table-even-background);
}
.cartTable tbody tr:hover {
  background-color: var(--table-hover);
}

.cartTable img {
  max-width: 80px;
  max-height: 80px;
}

.sortable {
  cursor: pointer;
  transition: color 0.15s;
}

.sortable:hover {
  color: var(--text-color);
}

.arrow {
  position: absolute;
  right: 0.2em;
  text-align: end;
}

.active {
  color: var(--accent) !important;
}

/* ---------------------------- */

.total {
  text-align: end;
  margin: 0.5rem 0 1rem 0;
} 

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  font-weight: 500;

  border: 0px;
  border-radius: 5px;

  cursor: pointer;
  transition: background 0.25s, color 0.25s;

  background-color: var(--red);
}
.buttons button:hover {
  background-color: var(--darker-red);
  color: var(--white);
}
.buttons button:first-of-type {
  background-color: var(--green);
}
.buttons button:first-of-type:hover {
  background-color: var(--darker-green);
  color: var(--white);
}