


.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;

  width: 70%;

  margin: auto;
}


@media screen and (max-width: 900px) {
  .cardsContainer {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .cardsContainer {
    width: 100%;
    gap: 2rem;
  }
}

